{% extends 'core/_base.html' %}
{% block body %}

<div class="navbar bg-base-300">
  <p class="text-xl">About</p>
</div>

<div class="stats shadow">
  <div class="stat place-items-center">
    <div class="stat-title">Shortened URLs</div>
    <div class="stat-value">{{total_shortened_urls}}</div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Uploaded Files</div>
    <div class="stat-value text-secondary">{{total_uploaded_files}}</div>
  </div>

</div>
{% endblock body %}